@model IEnumerable<Icasie.Models.ViewModelConference>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Conference List</h2>
@if (User.IsInRole("Administrator"))
{ 
    
<p>
    @Html.ActionLink("Add New Conference", "Create", null, new { @class = "btn btn-primary" })
</p>
}
@if (TempData["message"] != null)
{ 
        <label style="color:red;font-style:italic">@TempData["message"]</label>
}

<table id="example" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Full Paper Submission Start Date
            </th>
            <th>
                Full Paper Submission End Date
            </th>
            <th>
                Full Paper Submission Status
            </th>
            <th width="300px">Action</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
               
            </th>
            <th>
                
            </th>
            <th>
                
            </th>
            <th>
               
            </th>
            <th>
                
            </th>
            <th>
                
            </th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.Raw(item.StartDate.ToString(Icasie.Helper.Constant.DateFormat))
                </td>
                <td>
                    @Html.Raw(item.EndDate.ToString(Icasie.Helper.Constant.DateFormat))
                </td>
                <td>
                    @Html.Raw(item.PaperSubStartDate.ToString(Icasie.Helper.Constant.DateFormat))
                </td>
                <td>
                    @Html.Raw(item.PaperSubEndDate.ToString(Icasie.Helper.Constant.DateFormat))
                </td>
                <td>
                    @(item.PaperSubActive ? Html.Raw("Opened") : Html.Raw("Closed"))
                </td>
                <td>
                    @if (User.IsInRole("Format Checker"))
                    {
                        @Html.ActionLink("Format Checkers", "Index", "FormatCheck", new { id = item.ConferenceId }, new { @class = "btn btn-warning" })
                    }
                    @if (User.IsInRole("Reviewer"))
                    {
                        @Html.ActionLink("Reviews", "Index", "Reviewer", new { id = item.ConferenceId }, new { @class = "btn btn-warning" }) 
                    }
                    @if (User.IsInRole("Proof Reader"))
                    {
                        @Html.ActionLink("Proof Reads", "Index", "ProofReader", new { id = item.ConferenceId }, new { @class = "btn btn-warning" })
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Assignments", "Assign", "Administration", new { id = item.ConferenceId }, new { @class = "btn btn-warning" })
                        @Html.Raw("&nbsp;");
                        @Html.ActionLink("Papers", "PaperList", "Submission", new { id = item.ConferenceId }, new { @class = "btn btn-info" })                        
                        @Html.Raw("&nbsp;");
                        @Html.ActionLink("Edit", "Edit", "Conference", new { id = item.ConferenceId }, new { @class = "btn btn-primary" })                        
                        @Html.Raw("&nbsp;");
                        @Html.ActionLink("Delete", "Delete", "Conference", new { id = item.ConferenceId }, new { @class = "btn btn-danger" })
                    }
    
                         
                </td>
            </tr>
        }

    </tbody>


</table>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });

    </script>
}